@charset "utf-8";
@import '_variable'; //變數
@import '_mixin'; //Mixin
@import '_normalize'; //reset
// @import 'common/_grid'; //格線系統
// @import 'common/_table'; //表格
// @import 'common/_tabs'; //表格
// @import 'common/_typography';
//element
// @import 'element/_breadcrumb';
// @import 'element/_btn';
// @import 'element/_category';
// @import 'element/_divider';
// @import 'element/_font';
// @import 'element/_form';
// @import 'element/_image';
// @import 'element/_tag';
// @import 'element/_paginations';
// @import 'element/_tooltip';
// .container {
//     outline: 1px solid red;
// }
// font
@mixin fontSetting($FONT-SIZE: $font-size, $WEIGHT: normal) {
  font-size: $FONT-SIZE;
  font-weight: $WEIGHT;
  color: $color-word;
}

@mixin aSetting($COLOR: $aColor, $NOLINE: none) {
  color: $COLOR;
  text-decoration: $NOLINE;
}

@mixin aSetting_nocolor($COLOR: $color-word, $NOLINE: none) {
  color: $COLOR;
  text-decoration: $NOLINE;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden !important;
  overflow-y: none !important;
  -webkit-text-size-adjust: none;
  @include screen('tablet') {}
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 60px 0 0;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
  }
  // 設定scrollbar寬度
  &::-webkit-scrollbar {
    width: 8px;
  }
  // 設定scrollbar實體顏色，可設定圓角
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  a {
    @include aSetting();
    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.hidden {
  display: none;
}

//--------------------------------------------- context setting
p {
  color: $color-word;
  font-size: 1rem;
  margin: 0 0 1em;
}

ul,
ol {
  @include li-reset;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

@keyframes lazy_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

picture {
  img {
    display: block;
  }
}

img {
  max-width: 100%;
  &:not([src]) {
    visibility: hidden;
    opacity: 0;
  }
  &.lazy {
    visibility: hidden;
  }
  &.loaded {
    visibility: visible;
    animation: lazy_animation 1s ease-out;
  }
}

//--------------------------------------------- 必填欄位說明
abbr[title] {
  border-bottom: none;
  text-decoration: none;
  color: $color-red;
  margin-right: 0.5em;
}

//--------------------------------------------- hacks
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
}

// animation
@keyframes fadeInRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}