<div class="hm-chartspace">
  <!-- chat-header 聊天室標題 start -->
  <div class="chat-header" role="heading">
    <span>聊天室</span>
    <div aria-label="關閉聊天欄" class="" role="button"></div>
  </div>
  <!-- chat-header 聊天室標題 end -->
  <!-- chat-tabs 頁籤 start -->
  <div class="chat-tabs" aria-label="對話" role="tablist">
    <div class="tab-title focus" aria-controls="chat-panel" aria-label="聊天" aria-selected="true" role="tab">
      <span>聊天</span>
    </div>
    <div class="tab-title" aria-controls="polls-panel" aria-label="投票" aria-selected="false" role="tab">
      <span>投票</span>
    </div>
  </div>
  <!-- chat-tabs 頁籤 end -->
  <!-- chat-panel 輸入區 start -->
  <div class="chat-panel" aria-labelledby="chat-tab" role="tabpanel">
    <!-- chat-text 對話區塊 start -->
    <div class="chat-text" aria-labelledby="chat-header" role="log">
      <!-- chat-message-group 回覆段落 start -->
      <!-- remote 對方訊息 -->
      <div class="chat-message-group remote">
        <!-- chatmessage-wrapper 一則訊息 start -->
        <div class="chat-message-wrapper">
          <div class="chat-message">
            <div class="message-content">
              <div aria-hidden="true" class="display-name">veela</div>
              <div class="user-message">
                <span class="sr-only">veela 說：</span> aaaa
              </div>
            </div>
          </div>
        </div>
        <!-- chatmessage-wrapper 一則訊息 end -->
        <!-- chatmessage-wrapper 一則訊息 start -->
        <div class="chatmessage-wrapper">
          <div class="chat-message">
            <div class="message-content">
              <div class="user-message">
                <span class="sr-only">veela 說：</span>
                <span class="smiley" style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😭</span>
              </div>
            </div>
          </div>
          <!-- 最後一個有時間 -->
          <div class="timestamp">17:46</div>
        </div>
        <!-- chatmessage-wrapper 一則訊息 end -->
      </div>
      <!-- chat-message-group 回覆段落 end -->
      <!-- chat-message-group 回覆段落 start -->
      <!-- local 自己訊息 -->
      <div class="chat-message-group local">
        <!-- chatmessage-wrapper 一則訊息 start -->
        <div class="chat-message-wrapper">
          <div class="chat-message">
            <div class="message-content">
              <div aria-hidden="true" class="display-name">aaa</div>
              <div class="user-message"><span class="sr-only">您說：</span>fdvdbe </div>
            </div>
          </div>
          <div class="timestamp">17:48</div>
        </div>
        <!-- chatmessage-wrapper 一則訊息 end -->
      </div>
      <!-- chat-message-group 回覆段落 end -->
    </div>
    <!-- chat-text 對話區塊 end -->
    <!-- chat-input-container輸入框 start -->
    <div class="chat-input-container">
      <div id="chat-input">
        <div class="smiley-input">
          <div id="smileysarea">
            <div id="smileys">
              <div class="smiley-button" role="button" aria-expanded="false" aria-haspopup="smileysContainer" aria-label="表情符號面板">

              </div>
            </div>
          </div>
          <!-- show-smileys 打開 -->
          <div class="hide-smileys smileys-panel">
            <div aria-orientation="horizontal" id="smileysContainer" role="listbox">
              <div class="smileyContainer" id="smiley1" role="option" tabindex="0">
                <span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😃</span></span>
              </div>
              <div class="smileyContainer" id="smiley2" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😦</span></span>
              </div>
              <div class="smileyContainer" id="smiley3" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😄</span></span>
              </div>
              <div class="smileyContainer" id="smiley4" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">👍</span></span>
              </div>
              <div class="smileyContainer" id="smiley5" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😛</span></span>
              </div>
              <div class="smileyContainer" id="smiley6" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">👋</span></span>
              </div>
              <div class="smileyContainer" id="smiley7" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😊</span></span>
              </div>
              <div class="smileyContainer" id="smiley8" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">🙂</span></span>
              </div>
              <div class="smileyContainer" id="smiley9" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😱</span></span>
              </div>
              <div class="smileyContainer" id="smiley10" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😗</span></span>
              </div>
              <div class="smileyContainer" id="smiley11" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">👎</span></span>
              </div>
              <div class="smileyContainer" id="smiley12" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">🔍</span></span>
              </div>
              <div class="smileyContainer" id="smiley13" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">❤️</span></span>
              </div>
              <div class="smileyContainer" id="smiley14" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😇</span></span>
              </div>
              <div class="smileyContainer" id="smiley15" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😠</span></span>
              </div>
              <div class="smileyContainer" id="smiley16" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">👼</span></span>
              </div>
              <div class="smileyContainer" id="smiley17" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😭</span></span>
              </div>
              <div class="smileyContainer" id="smiley18" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">👏</span></span>
              </div>
              <div class="smileyContainer" id="smiley19" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">😉</span></span>
              </div>
              <div class="smileyContainer" id="smiley20" role="option" tabindex="0"><span class="smiley"><span style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">🍺</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="usrmsg-form">
          <textarea autocomplete="off" id="usermsg" placeholder="輸入訊息" tabindex="0" class="" style="height: 40px !important;"></textarea>
        </div>
        <div class="send-button-container">
          <div aria-label="chat.sendButton" class="send-button" role="button">

          </div>
        </div>
      </div>
    </div>
    <!-- chat-input-container輸入框 end -->
  </div>
  <!-- chat-panel 輸入區 end -->
</div>