<div class="hm-filmstrip">
  <!-- filmstrip-toggle 開關 start -->
  <div class="filmstrip-toggle">
    <button aria-expanded="true" aria-label="切換幻燈片"></button>
  </div>
  <!-- filmstrip-toggle 開關 end -->
  <!-- filmstrip-close 手機版 關閉鈕 start -->
  <div class="filmstrip-close">
    <span class="hm-icon icon-close-b"></span>
  </div>
  <!-- filmstrip-close 手機版 關閉鈕 end -->
  <!-- filmstrip-list 即時影像列表 start -->
  <div class="filmstrip-list">
    <!-- filmstrip-local 本地端 start -->
    <div class="filmstrip-local">
      <!-- filmstrip-wrapper 人 start -->
      <div class="filmstrip-wrapper">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <!-- 未舉手時隱藏 -->
            <!-- <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div> -->
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container"></div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
    </div>
    <!-- filmstrip-local 本地端 end -->
    <!-- filmstrip-remote 對方 start -->
    <div class="filmstrip-remote">
      <!-- filmstrip-wrapper 人 start -->
      <!-- 舉手時加上filmstrip-hangup -->
      <div class="filmstrip-wrapper filmstrip-hangup">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <!-- 未舉手時隱藏 -->
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container"></div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <div class="filmstrip-wrapper">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <!-- 未舉手時隱藏 -->
            <!-- <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div> -->
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <span class="hm-icon icon-audio-b"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="avatar-container">
            <div class="avatar"></div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 舉手時加上filmstrip-hangup -->
      <div class="filmstrip-wrapper filmstrip-hangup">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 釘選時加上 active -->
      <div class="filmstrip-wrapper active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand active"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar active"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more active"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <!-- <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div> -->
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 釘選時加上 active -->
      <div class="filmstrip-wrapper active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <!-- <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div> -->
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 同時舉手與釘選 順序為 先filmstrip-hangup 後active -->
      <div class="filmstrip-wrapper filmstrip-hangup active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <!-- <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div> -->
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- 舉手時加上filmstrip-hangup -->
      <div class="filmstrip-wrapper filmstrip-hangup">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <!-- 未舉手時隱藏 -->
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container"></div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <div class="filmstrip-wrapper">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <!-- 未舉手時隱藏 -->
            <!-- <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div> -->
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <span class="hm-icon icon-audio-b"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="avatar-container">
            <div class="avatar"></div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 舉手時加上filmstrip-hangup -->
      <div class="filmstrip-wrapper filmstrip-hangup">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 釘選時加上 active -->
      <div class="filmstrip-wrapper active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand active"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar active"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more active"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div>
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <!-- <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div> -->
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 釘選時加上 active -->
      <div class="filmstrip-wrapper active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <!-- <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div> -->
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
      <!-- filmstrip-wrapper 人 start -->
      <!-- 同時舉手與釘選 順序為 先filmstrip-hangup 後active -->
      <div class="filmstrip-wrapper filmstrip-hangup active">
        <!-- filmstrip-container 預留線框 start -->
        <div class="filmstrip-container">
          <div class="filmstrip-icon">
            <div class="filmstrip-icon-hand"><span class="hm-icon icon-hand"></span></div>
            <div class="filmstrip-icon-bar"><span class="hm-icon icon-bar"></span></div>
            <div class="filmstrip-icon-more"><span class="hm-icon icon-more-w"></span></div>
          </div>
          <div class="filmstrip-title">
            <!-- 關閉麥克風時icon隱藏 -->
            <span class="hm-icon icon-audio-b hide"></span>名字名字名字
          </div>
          <!-- avatar-container 頭像 -->
          <!-- 有影像時隱藏 -->
          <!-- <div class="filmstrip-avatar">
            <div class="avatar">A</div>
          </div> -->
          <!-- avatar-container 影像 -->
          <!-- 沒有影像時隱藏 -->
          <div class="film-container">
            <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
          </div>
        </div>
        <!-- filmstrip-container 預留線框 end -->
      </div>
      <!-- filmstrip-wrapper 人 end -->
    </div>
    <!-- filmstrip-remote 對方 end -->
  </div>
  <!-- filmstrip-list 即時影像列表 end -->
</div>