<div class="hm-participants">
  <div class="participants-header">
    <span>聊天室</span>
    <div aria-label="關閉" class="" role="button"></div>
  </div>
  <div class="participants-content">
    <div class="content-title">
      會議參與者 (2)
    </div>
    <button aria-label="邀請他人" class="">
      <div class="jitsi-icon jitsi-icon-default "></div>
      <span>邀請他人</span>
    </button>
    <div class="content-search">
      <input class="" placeholder="搜尋參與者" type="text" value="">
    </div>
    <div class="content-list">
      <div class="list-item">
        <div class="item-avatar">
        </div>
        <div class="item-title">
          <div class="item-name"><span></span></div>
          <div class="item-indicators">
            <div class="icon-videoMuted">

            </div>
            <div class="icon-AudioMuted">

            </div>
          </div>
          <div class="item-actions">
            <button aria-label="要求解除靜音 bbb" class="">要求解除靜音</button>
            <button aria-label="更多參與者選項" class="">
              <div class="jitsi-icon jitsi-icon-default "></div>
            </button>
          </div>
        </div>
      </div>
      <div class="list-item">
        <div class="item-avatar">
        </div>
        <div class="item-title">
          <div class="item-name"><span></span></div>
          <div class="item-indicators">
            <div class="icon-videoMuted">

            </div>
            <div class="icon-AudioMuted">

            </div>
          </div>
          <div class="item-actions">
            <button class="" aria-label="要求解除靜音 bbb">要求解除靜音</button>
            <button class="" aria-label="更多參與者選項">
              <div class="jitsi-icon jitsi-icon-default "></div>
            </button>
          </div>
          <div class="actions-menu">
            <ul>
              <li>
                <div class="" aria-label="將其他人靜音">
                  <div class="jitsi-icon jitsi-icon-default"></div>
                  <span class="">靜音其他人</span>
                </div>
              </li>
              <li>
                <div class="" aria-label="Stop everyone else's video">
                  <div class="jitsi-icon jitsi-icon-default"></div>
                  <span class="">停用其他人的攝影機</span>
                </div>
              </li>
              <hr class="menu-hr">
              <li>
                <div class="kicklink" aria-label="踢出">
                  <div class="jitsi-icon jitsi-icon-default"></div>
                  <span class="">踢出</span>
                </div>
              </li>
              <li>
                <div class="" aria-label="發送私人訊息">
                  <div class="jitsi-icon jitsi-icon-default"></div>
                  <span class="">傳送私人訊息</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button aria-label="新增討論室" class="jss80  jss106">新增討論室</button>
  </div>
  <div class="content-function">
    <button class="" aria-label="靜音所有人">靜音所有人</button>
    <div class="jss57">
      <button class="" aria-label="更多管理選項" id="participants-pane-context-menu">
        <div class="jitsi-icon jitsi-icon-default "></div>
      </button>
      <div class="iactions-menu">
        <ul>
          <li>
            <div aria-label="停止所有人的視訊" class="" id="participants-pane-context-menu-stop-video">
              <div class="jitsi-icon jitsi-icon-default"></div>
              <span class="">停止所有人的視訊</span>
            </div>
          </li>
          <li>
            <div aria-label="更多管理控制項" class="" id="participants-pane-open-moderation-control-settings">
              <div class="jitsi-icon jitsi-icon-default"></div>
              <span class="">更多管理控制項</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>