<div class="hm-toolBox">
  <div class="toolBox-toggle">
    <button aria-expanded="true" aria-label="切換幻燈片">收合</button>
  </div>
  <div class="toolBox-button-container">
    <!-- audio設定 start -->
    <div class="toolBox-button tool-audio">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <!-- 執行時添加active -->
        <div class="button-icon">
          <span class="hm-icon icon-audio"></span>
          <span class="button-text">取消靜音</span>
        </div>
        <!-- 執行時添加active -->
        <div class="button-open">
          <span class="hm-icon icon-arrowUp"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
      <!-- audio內容 start -->
      <div class="tool-audio-content" aria-labelledby="audio-settings-button" role="menu">
        <div class="tool-audio-menu">
          <div class="tool-audio-header" role="heading">
            <div class="header-icon">
              <span class="hm-icon icon-audio-h"></span>
            </div>
            <div class="header-text">麥克風</div>
          </div>
          <ul class="tool-audio-list" aria-labelledby="microphone_settings_header" role="radiogroup">
            <li aria-labelledby="" role="radio">
              <div class="list-default">
                <span class="hm-icon icon-check"></span>
              </div>
              <div class="list-text">系統預設 (AirPods)系統預設 (AirPods)</div>
              <!-- span內有內容即顯示顏色 -->
              <div class="list-meter">
                <span>1</span><span>2</span><span>3</span><span>4</span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
            </li>
            <li aria-labelledby="" role="radio">
              <div class="list-text">AirPods</div>
              <!-- span內有內容即顯示顏色 -->
              <div class="list-meter">
                <span>1</span><span>2</span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
            </li>
            <li aria-labelledby="" role="radio">
              <div class="list-text">麥克風</div>
              <!-- span內有內容即顯示顏色 -->
              <div class="list-meter">
                <span>1</span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="tool-audio-menu">
          <div class="tool-audio-header" role="heading">
            <div class="header-icon">
              <span class="hm-icon"><img class="svg" src="src/images/icon/icon-volume.svg" alt=""></span>
            </div>
            <div class="header-text">喇叭</div>
          </div>
          <ul class="tool-audio-list" aria-labelledby="microphone_settings_header" role="radiogroup">
            <li aria-labelledby="" role="radio">
              <div class="list-default">
                <span class="hm-icon"><img class="svg" src="src/images/icon/icon-check.svg" alt=""></span>
              </div>
              <div class="list-text">系統預設 (AirPods)</div>
              <div class="list-button" role="button">測試</div>
            </li>
            <li aria-labelledby="" role="radio">
              <div class="list-text">AirPods</div>
              <div class="list-button" role="button">測試</div>
            </li>
            <li aria-labelledby="" role="radio">
              <div class="list-text">MacBook Pro的揚聲器 (Built-in)</div>
              <div class="list-button" role="button">測試</div>
            </li>
          </ul>
        </div>
      </div>
      <!-- audio內容 end -->
    </div>
    <!-- audio設定 end -->
    <!-- video設定 start -->
    <div class="toolBox-button tool-video">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <!-- 執行時添加active -->
        <div class="button-icon">
          <span class="hm-icon icon-video"></span>
          <span class="button-text">開始視訊</span>
        </div>
        <!-- 執行時添加active -->
        <div class="button-open">
          <span class="hm-icon icon-arrowUp"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
      <!-- video內容 start -->
      <div class="tool-video-content" aria-labelledby="video-settings-button" role="menu">
        <div class="video-preview">
          <div class="video-preview-label">
            FaceTime HD攝影機（內建） (05ac:8514)
          </div>
          <!-- <div class="video-preview-overlay"></div> -->
          <video autoplay="" class="video-preview-video flipVideoX" id="" playsinline="" src="src/images/pexels-koolshooters-8530646.mp4">
        </video>
          <!-- <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt=""> -->
        </div>
      </div>
      <!-- video內容 end -->
    </div>
    <!-- video設定 end -->
    <!-- 切換螢幕設定 start -->
    <div class="toolBox-button tool-shareScreen">
      <!-- 按鈕 start -->
      <div class="tool-button active">
        <div class="button-icon">
          <span class="hm-icon icon-shareScreen"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 切換螢幕設定 end -->
    <!-- 聊天室設定 start -->
    <div class="toolBox-button tool-chatSpace">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon">
          <span class="hm-icon icon-chatSpace"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
      <span class="badge-round"><span>2</span></span>
    </div>
    <!-- 聊天室設定 end -->
    <!-- 舉手 start -->
    <div class="toolBox-button tool-handup">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon">
          <span class="hm-icon icon-handUp"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 舉手 end -->
    <!-- 表情 start -->
    <div class="toolBox-button tool-emoji">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon">
          <span class="hm-icon icon-emoji"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 表情 end -->
    <!-- 參與者 start -->
    <div class="toolBox-button tool-participants">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon">
          <span class="hm-icon icon-participants"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 參與者 end -->
    <!-- 切換格狀檢視 start -->
    <div class="toolBox-button tool-grid">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon">
          <span class="hm-icon icon-grid"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 切換格狀檢視 end -->
    <!-- 更多 start -->
    <div class="toolBox-button tool-more">
      <!-- 按鈕 start -->
      <div class="tool-button" aria-label="切換更多動作功能表">
        <div class="button-icon">
          <span class="hm-icon icon-more"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
      <!-- 更多選單 start -->
      <div class="tool-menu-content" aria-label="更多動作功能表">
        <ul class="adv-menu">
          <li class="adv-menu-item" aria-label="編輯您的簡介" role="menuitem">
            <span class="menu-avatar" style="background: rgb(115, 52, 140);"></span>
            <span class="menu-item">參與者暱稱（變數）</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-invite"></span>
            </span>
            <span class="menu-item">邀請人員</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-effect"></span>
            </span>
            <span class="menu-item">效能設定</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-zoom"></span>
            </span>
            <span class="menu-item">放大全螢幕</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-safety"></span>
            </span>
            <span class="menu-item">安全性選項</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-record"></span>
            </span>
            <span class="menu-item">啟動錄影作業</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-stream"></span>
            </span>
            <span class="menu-item">啟動直播串流</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-audio-b"></span>
            </span>
            <span class="menu-item">靜音所有人</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-video-b"></span>
            </span>
            <span class="menu-item">停用所有人的攝影機</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-share"></span>
            </span>
            <span class="menu-item">分享影片</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-share"></span>
            </span>
            <span class="menu-item">分享音訊</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-bg"></span>
            </span>
            <span class="menu-item">選擇背景</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-setting"></span>
            </span>
            <span class="menu-item">設定</span>
          </li>
          <li class="adv-menu-item" role="menuitem">
            <span class="menu-icon">
            <span class="hm-icon icon-info"></span>
            </span>
            <span class="menu-item">說明</span>
          </li>
        </ul>
      </div>
      <!-- 更多選單 end -->
    </div>
    <!-- 更多 end -->
    <!-- 離開通話 start -->
    <div class="toolBox-button tool-hangup" aria-label="離開通話" role="button">
      <!-- 按鈕 start -->
      <div class="tool-button">
        <div class="button-icon hangup">
          <span class="hm-icon icon-close"></span>
        </div>
      </div>
      <!-- 按鈕 end -->
    </div>
    <!-- 離開通話 end -->
  </div>

</div>