<div class="hm-videoSpace">
  <div class="hm-status">
    <!-- info start -->
    <div class="status-info">
      <div class="status-title">subject</div>
      <div class="status-timer">4:12:39</div>
      <div class="raisedHands">
        <!-- <span class="hm-icon"><img class="svg" src="src/images/icon/icon-handUp.svg" alt=""></span> 1 -->
        <span class="hm-icon icon-hand"></span><span class="count">1</span>
      </div>
      <!-- active -->
      <div class="alert">
        <span class="hm-icon icon-alert"></span>
      </div>
    </div>
    <!-- info start end -->
  </div>
  <!-- hm-dominant中央姓名區塊 start -->
  <div class="hm-dominant" style="background: #C9ECF8;">C</div>
  <!-- hm-dominantdominant中央姓名區塊 end -->
</div>